
<div class="flex-row wrap-white">

  <div>
    <% avatar_url = current_user.facebook_picture_url || "https://unsplash.it/100/100/?random" %>
    <%= image_tag avatar_url, class: "avatar-xlarge" %>
  </div>

  <div class="wrap-infos">

    <h3><%= @user.username %></h3>
    <h5><%= @user.email %></h5>
    <%= link_to 'Reset', edit_user_registration_path %>

 <!--  <div class="wrap-money">
    My account : $$$$
  </div> -->

  </div>
</div>
 <!-- GAMES BOARD -->
<div class="container text-center padded">

  <div class="tabs">
    <a class="tab btn btn-success" data-target="#games">
      MY GAMES
    </a>
    <a class="tab active btn btn-success" data-target="#schedule">
      SCHEDULE
    </a>
    <a class="tab btn btn-success" data-target="#record">
      RECORD
    </a>
  </div>

<!-- MY GAMES SECTION-->

  <div class="tab-content hidden " id="games">

    <% @user.games.each do |game| %>
          <div class="list-items">
            <div class="list-stake flex-row-center">
              <%= game.stake %> £
            </div>
            <div class="list-game flex-row-center"  style="background-image: linear-gradient(-225deg, rgba(67,67,67,0.3) 0%, rgba(0,36,61,0.3) 50%), url( <%= image_path game.picture_file_name %> )">
              <%= game.name %>

            </div>
            <div class="list-status flex-row-center">
                Pending
            </div>
            <%= link_to 'delete', game_path(game), method: :delete %>
          </div>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == nil %>
            <div class="list-items">
              <div class="list-content">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-date">
                <%= challenge.starts_at %>
              </div>
              <div class="list-accept">
                <%= link_to user_mark_as_accepted_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="list-decline">
                <%= link_to user_decline_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                  <i class="fa fa-times fa-lg"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

  </div>


  <!-- SCHEDULE SECTION-->
  <div class="tab-content" id="schedule">

    <h4>PENDING</h4>

      <% @user.games.each do |game| %>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == nil %>
            <div class="list-items">
              <div class="list-stake flex-row-center">
                <%= game.stake %> £
              </div>
              <div class="list-content flex-row-center">
                <%= game.name %>
              </div>
              <div class="list-content flex-row-center">
                Creator:</br> YOU
              </div>
              <div class="list-date flex-row-center">
                <%= challenge.starts_at %>
              </div>
              <div class="list-content flex-row-center">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-accept flex-row-center">
                <%= link_to user_mark_as_accepted_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="list-decline flex-row-center">
                <%= link_to user_decline_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                  <i class="fa fa-times fa-lg"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @user.challenges.each do |challenge| %>
        <% if challenge.accepted == nil %>
          <div class="list-items">
            <div class="list-stake flex-row-center">
              <%= challenge.game.stake %> £
            </div>
            <div class="list-content flex-row-center">
              <%= challenge.game.name %>
            </div>
            <div class="list-content flex-row-center">
              Creator:</br> <%= challenge.game.user.username %>
            </div>
            <div class="list-date flex-row-center">
              <%= challenge.starts_at %>
            </div>
            <div class="list-content flex-row-center">
              Challenger:</br> YOU
            </div>
            <div class="list-status flex-row-center">
              Pending
            </div>
          </div>
        <% end %>
      <% end %>

    <h4 class="title-green">TO PLAY</h4>

      <% @user.games.each do |game| %>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == true %>
            <div class="list-items">
              <div class="list-stake-blue flex-row-center">
                <%= game.stake %> £
              </div>
              <div class="list-content flex-row-center">
                <%= game.name %>
              </div>
              <div class="list-content flex-row-center">
                Creator:</br> YOU
              </div>
              <div class="list-date-blue flex-row-center">
                <%= challenge.starts_at %>
              </div>
              <div class="list-content flex-row-center">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-score flex-row-center">
                Enter score
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @user.challenges.each do |challenge| %>
        <% if challenge.accepted == true %>
          <div class="list-items">
            <div class="list-stake-blue flex-row-center">
              <%= challenge.game.stake %> £
            </div>
            <div class="list-content flex-row-center">
              <%= challenge.game.name %>
            </div>
            <div class="list-content flex-row-center">
              Creator:</br> <%= challenge.game.user.username %>
            </div>
            <div class="list-date-blue flex-row-center">
              <%= challenge.starts_at %>
            </div>
            <div class="list-content flex-row-center">
              Challenger:</br> YOU
            </div>
            <div class="list-score flex-row-center">
              Enter score
            </div>
          </div>
        <% end %>
      <% end %>

    <h4 class="title-red">REJECTED</h4>

      <% @user.games.each do |game| %>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == false %>
            <div class="list-items">
              <div class="list-stake flex-row-center">
                <%= game.stake %> £
              </div>
              <div class="list-content flex-row-center">
                <%= game.name %>
              </div>
              <div class="list-content flex-row-center">
                Creator:</br> YOU
              </div>
              <div class="list-date flex-row-center">
                <%= challenge.starts_at %>
              </div>
              <div class="list-content flex-row-center">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-status-red flex-row-center">
                Rejected
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @user.challenges.each do |challenge| %>
        <% if challenge.accepted == false %>
          <div class="list-items">
            <div class="list-stake flex-row-center">
              <%= challenge.game.stake %> £
            </div>
            <div class="list-content flex-row-center">
              <%= challenge.game.name %>
            </div>
            <div class="list-content flex-row-center">
              Creator:</br> <%= challenge.game.user.username %>
            </div>
            <div class="list-date flex-row-center">
              <%= challenge.starts_at %>
            </div>
            <div class="list-content flex-row-center">
              Challenger:</br> YOU
            </div>
            <div class="list-status-red flex-row-center">
              Rejected
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
    <!-- // -->
</div>


