<!-- PROFILE INFOS -->

<div class="wrap-white" style="background-image: linear-gradient(-225deg, rgba(67,67,67,0.1) 0%, rgba(0,36,61,0.5) 50%), url(<%= image_path 'new-game-background.png' %>);">
  <div class="profile-content text-center">
    <div class="profile-user-avatar">
      <% avatar_url = current_user.facebook_picture_url || "http://s3.amazonaws.com/cdn.roosterteeth.com/uploads/images/8af1db7e-f861-453e-aaca-fcb3fd76bcd1/md/2105229-1445707652129-MNOyFyi.png" %>
      <%= image_tag avatar_url, class: "avatar-xlarge" %>
    </div>


    <div class="profile-username">
      <h3 class="profile-page-username"><%= @user.username %></h3>
      <div class="btn-edit-user">
        <%= link_to edit_user_registration_path do %>
          <h3 class="fa fa-pencil"></h3>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex-row-centered">
    <%= render "users/doughnut" %>
  </div>
</div>

 <!-- GAMES BOARD -->

<div class="container text-center padded">

  <!-- BUTTONS-->

  <div class="tabs padding-bottom">
    <a class="tab btn btn-green btn-profile-tab" data-target="#games">
      INBOX
    </a>
    <a class="tab btn active btn-green btn-profile-tab" data-target="#upcoming">
      UPCOMING CHALLENGES
    </a>
    <a class="tab btn btn-green btn-profile-tab" data-target="#history">
      HISTORY
    </a>
  </div>

<!-- MY GAMES SECTION-->

  <div class="tab-content hidden " id="games">

    <% @user.games.each do |game| %>
      <% if game.hidden == false %>
        <div class="list-items" data-game-id="<%= game.id %>">
          <div class="list-stake flex-row-center">
            £<%= game.stake %>
          </div>
          <div class="list-game flex-row-center box-shadow-grey"  style="background-image: linear-gradient(-225deg, rgba(67,67,67,0.3) 0%, rgba(0,36,61,0.3) 50%), url( <%= image_path game.picture_file_name %> )">
            <%= game.name %>
          </div>
          <%= link_to 'X', user_hide_path(user_id: current_user.id, id: game.id), method: :patch, remote: true, class: "list-delete flex-row-center" %>
        </div>
      <% end %>

      <% game.challenges.each do |challenge| %>
        <% if (challenge.accepted != false) && (challenge.result == nil) %>
          <div class="list-items">
            <div class="list-content-challenge flex-row-center">
              vs <%= challenge.user.username %>
            </div>
            <div class="list-date-blue-challenge flex-row-center">
              <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
            </div>
            <div class="list-content-status flex-row-center">
              <% if challenge.accepted == nil %>
                <div class="list-accept-challenge flex-row-center">
                  <%= link_to user_mark_as_accepted_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                  <i class="fa fa-check " aria-hidden="true"></i>
                  <% end %>
                </div>
                <div class="list-decline-challenge flex-row-center">
                  <%= link_to user_decline_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                    <i class="fa fa-times "></i>
                  <% end %>
                </div>
              <% elsif challenge.accepted == true %>
                <div class="list-content-status list-content-accepted flex-row-center" data-toggle="modal" data-target="#inbox_<%= challenge.id %>">
                    enter score
                </div>
                <div class="modal fade" id="inbox_<%= challenge.id %>" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">enter score</h4>
                      </div>
                      <div class="modal-body">
                        <div class="booking-form">
                          <%= simple_form_for [@user, @game, challenge], method: :patch do |f|  %>
                            <%= f.input :result, label: "put your score first e.g. 2-0" %>
                            <%= f.collection_radio_buttons :winner, [[true, 'i won'], [false, 'i lost']], :first, :last %>
                            <br>
                            <%= f.button :submit, 'submit', class: "btn-score" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>


<!-- UPCOMING SECTION-->
  <div class="tab-content" id="upcoming">

    <h4 class="title"> PENDING </h4>

    <% @user.challenges.each do |challenge| %>
      <% if challenge.accepted == nil %>
        <div class="list-items">
          <div class="list-stake list-stake-upcoming flex-row-center">
            £<%= challenge.game.stake %>
          </div>
          <div class="list-content list-content-title flex-row-center box-shadow-grey">
            <%= challenge.game.name %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            <%= challenge.game.user.username %>
          </div>
          <div class="list-date-blue flex-row-center box-shadow-grey">
            <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            vs you
          </div>
          <div class="list-status-grey flex-row-center box-shadow-grey-right">
            pending
          </div>
        </div>
      <% end %>
    <% end %>

    <h4 class="title title-green">TO PLAY</h4>

    <% @user.games.each do |game| %>
      <% game.challenges.each do |challenge| %>
        <% if (challenge.accepted == true) && (challenge.result == nil) %>
          <div class="list-items">
            <div class="list-stake list-stake-upcoming flex-row-center">
              £<%= game.stake %>
            </div>
            <div class="list-content list-content-title flex-row-center box-shadow-grey">
              <%= game.name %>
            </div>
            <div class="list-content flex-row-center box-shadow-grey">
              you
            </div>
            <div class="list-date-green flex-row-center box-shadow-grey">
              <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
            </div>
            <div class="list-content flex-row-center box-shadow-grey">
              vs <%= challenge.user.username %>
            </div>

            <!-- MODAL FOR SCORE / BUTTON-->

            <button class="list-score flex-row-center box-shadow-green-right" data-toggle="modal" data-target="#upcoming_<%= challenge.id %>" >enter score </button>

           <!-- MODAL FOR SCORE / MODAL-->

            <div class="modal fade" id="upcoming_<%= challenge.id %>" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">enter score</h4>
                  </div>
                  <div class="modal-body">
                    <div class="booking-form">
                      <%= simple_form_for [@user, @game, challenge], method: :patch do |f|  %>
                        <%= f.input :result, label: "put your score first e.g. 2-0" %>
                        <%= f.collection_radio_buttons :winner, [[true, 'i won'], [false, 'i lost']], :first, :last %>
                        <br>
                        <%= f.button :submit, 'submit', class: "btn-score" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- END MODAL-->

          </div>
        <% end %>
      <% end %>
    <% end %>

    <% @user.challenges.each do |challenge| %>
      <% if challenge.accepted == true && challenge.result == nil %>
        <div class="list-items">
          <div class="list-stake list-stake-upcoming flex-row-center">
            £<%= challenge.game.stake %>
          </div>
          <div class="list-content list-content-title flex-row-center box-shadow-grey">
            <%= challenge.game.name %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            <%= challenge.game.user.username %>
          </div>
          <div class="list-date-blue flex-row-center box-shadow-grey">
            <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            vs you
          </div>
          <div class="list-score flex-row-center box-shadow-green-right">awaiting score..</div>
        </div>
      <% end %>
    <% end %>

    <h4 class="title title-red">REJECTED</h4>

    <% @user.games.each do |game| %>
      <% game.challenges.each do |challenge| %>
        <% if challenge.accepted == false %>
          <div class="list-items">
            <div class="list-stake list-stake-upcoming flex-row-center">
              £<%= game.stake %>
            </div>
            <div class="list-content list-content-title flex-row-center box-shadow-grey">
              <%= game.name %>
            </div>
            <div class="list-content flex-row-center box-shadow-grey">
              you
            </div>
            <div class="list-date flex-row-center box-shadow-grey">
              <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
            </div>
            <div class="list-content flex-row-center box-shadow-grey">
              vs <%= challenge.user.username %>
            </div>
            <div class="list-score-red flex-row-center box-shadow-red-right">
              rejected
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% @user.challenges.each do |challenge| %>
      <% if challenge.accepted == false %>
        <div class="list-items">
          <div class="list-stake list-stake-upcoming flex-row-center">
            £<%= challenge.game.stake %>
          </div>
          <div class="list-content list-content-title flex-row-center box-shadow-grey">
            <%= challenge.game.name %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            <%= challenge.game.user.username %>
          </div>
          <div class="list-date flex-row-center box-shadow-grey">
            <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            vs you
          </div>
          <div class="list-score-red flex-row-center box-shadow-red-right">
            rejected
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
    <!-- // -->

<!-- RECORD SECTION-->
  <div class="tab-content hidden" id="history">

    <h4 class="title">PAST CHALLENGES</h4>
    <% if current_user.total_money < 0 %>
      <div class="money-record negative">
        TOTAL : £<%= current_user.total_money %>
      </div>
    <% else %>
      <div class="money-record">
        TOTAL : £<%= current_user.total_money %>
      </div>
    <% end %>
    <% @user.games.each do |game| %>
      <% game.challenges.each do |challenge| %>

        <% if (challenge.accepted == true) && (challenge.result != nil) %>
          <div class="list-items">
            <div class="list-stake list-stake-upcoming flex-row-center">
              £<%= game.stake %>
            </div>
            <div class="list-content list-content-title flex-row-center box-shadow-grey">
              <%= game.name %>
            </div>
            <div class="list-content flex-row-center box-shadow-grey">
              you
            </div>
            <div class="list-date-blue flex-row-center box-shadow-grey">
              <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
            </div>
            <div class="list-content flex-row-center box-shadow-grey">
              vs <%= challenge.user.username %>
            </div>
            <% if challenge.winner == true %>
              <div class="list-status-green flex-row-center box-shadow-green-right">
                <%= challenge.result.delete(' ') %>
              </div>
            <% else %>
              <div class="list-status-red flex-row-center box-shadow-red-right">
                <%= challenge.result.delete(' ') %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% @user.challenges.each do |challenge| %>
      <% if (challenge.accepted == true) && (challenge.result != nil) %>
        <div class="list-items">
          <div class="list-stake list-stake-upcoming flex-row-center">
            £<%= challenge.game.stake %>
          </div>
          <div class="list-content list-content-title flex-row-center box-shadow-grey">
            <%= challenge.game.name %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            <%= challenge.game.user.username %>
          </div>
          <div class="list-date-blue flex-row-center box-shadow-grey">
            <%= challenge.starts_at.strftime("%e %b @ %l:%M %p") %>
          </div>
          <div class="list-content flex-row-center box-shadow-grey">
            vs you
          </div>
          <% if challenge.winner == false %>
              <div class="list-status-green flex-row-center box-shadow-green-right">
                <%= challenge.result.delete(' ') %>
              </div>
            <% else %>
              <div class="list-status-red flex-row-center box-shadow-red-right">
                <%= challenge.result.delete(' ') %>
              </div>
            <% end %>
        </div>
      <% end %>
    <% end %>


  </div>

</div>


