<!-- PAGE TITLE -->
<% content_for(:title_tag) do %>
  <% if @user.username %>
    <%= @user.username %>
  <% else %>
    My profile
  <% end %>
<% end %>
<!-- // -->

<h1>My profil</h1>

<div class="wrap-picture">

    <% if @user.picture_url %>
      <%= cl_image_tag(@user.picture_url.path, crop: :fill, :class => "avatar-large") %>
    <% end %>

  <!-- MODAL FOR PICTURE -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-picture">Change picture</button>

  <div class="modal fade" id="change-picture" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="change-picture">Change picture</h4>
          <div class="modal-body">
            <%= simple_form_for @user do |f| %>
              <%= f.input :picture_url, as: :attachinary, method: :patch %>
              <%= f.button :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- // -->
</div>

<div class="wrap-username">
  <h4>
    <% if @user.username %>
      <%= @user.username %>
    <% end %>
  </h4>
  <!-- MODAL FOR USERNAME -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-username">Change Username</button>

  <div class="modal fade" id="change-username" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="change-username">Change Username</h4>
          <div class="modal-body">
            <%= simple_form_for @user do |f| %>
              <%= f.input :username, method: :patch %>
              <%= f.button :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // -->
</div>

<p><%= @user.email %></p>


 <!-- GAMES BOARD -->

<h3>My games</h3>

<h4>PENDING</h4>

<ul>
  <% @user.games.each do |game| %>
    <% game.challenges.each do |challenge| %>
      <% if challenge.accepted == nil %>
        <li>
          <%= game.stake %> £ | <%= game.name %> | Creator: YOU | Challenger: <%= challenge.user.username %> | <%= link_to 'Accept', user_mark_as_accepted_path(user_id: current_user.id, id: challenge.id), method: :patch %>
          <%= link_to 'Decline', user_decline_path(user_id: current_user.id, id: challenge.id), method: :patch %>
        </li>
      <% end %>
    <% end %>
  <% end %>
  <% @user.challenges.each do |challenge| %>
    <% if challenge.accepted == nil %>
      <li>
        <%= challenge.game.stake %> £ | <%= challenge.game.name %> | Creator: <%= challenge.game.user.username %> | Challenger: YOU | Pending
      </li>
    <% end %>
  <% end %>
</ul>

<h4>TO PLAY</h4>

<ul>
  <% @user.games.each do |game| %>
    <% game.challenges.each do |challenge| %>
      <% if challenge.accepted == true %>
        <li>
          <%= game.stake %> £ | <%= game.name %> | Creator: YOU | Challenger: <%= challenge.user.username %> | Accepted

        </li>
      <% end %>
    <% end %>
  <% end %>
  <% @user.challenges.each do |challenge| %>
    <% if challenge.accepted == true %>
      <li>
        <%= challenge.game.stake %> £ | <%= challenge.game.name %> | Creator: <%= challenge.game.user.username %> | Challenger: YOU | Accepted

      </li>
    <% end %>
  <% end %>
</ul>

<h4>REJECTED</h4>

<ul>
  <% @user.games.each do |game| %>
    <% game.challenges.each do |challenge| %>
      <% if challenge.accepted == false %>
        <li>
          <%= game.stake %> £ | <%= game.name %> | Creator: YOU | Challenger: <%= challenge.user.username %> | Rejected

        </li>
      <% end %>
    <% end %>
  <% end %>
  <% @user.challenges.each do |challenge| %>
    <% if challenge.accepted == false %>
      <li>
        <%= challenge.game.stake %> £ | <%= challenge.game.name %> | Creator: <%= challenge.game.user.username %> | Challenger: YOU | Rejected

      </li>
    <% end %>
  <% end %>
</ul>

<!-- // -->

<%= link_to 'Home', root_path %>
