
<div class="flex-row wrap-white">

  <div>
    <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, class: "avatar-xlarge" %>
  </div>

  <div class="wrap-infos">
    <div class="flex-row">
      <h4>
        <% if @user.username %>
          <%= @user.username %>
        <% end %>
      </h4>
      <!-- MODAL FOR USERNAME -->
      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#change-username">Change Username</button>

      <div class="modal fade" id="change-username" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="change-username">Change Username</h4>
              <div class="modal-body">
                <%= simple_form_for @user do |f| %>
                  <%= f.input :username, method: :patch %>
                  <%= f.button :submit %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // -->
    <div class="flex-row">
      <h5><%= @user.email %></h5>
      <%= link_to 'Reset', edit_user_registration_path %>
    </div>
  </div>
  <div class="wrap-money">
    My account : $$$$
  </div>

</div>
 <!-- GAMES BOARD -->
<div class="container text-center padded">

  <div class="tabs">
    <a class="tab btn btn-success" data-target="#games">
      MY GAMES
    </a>
    <a class="tab active btn btn-success" data-target="#schedule">
      SCHEDULE
    </a>
    <a class="tab btn btn-success" data-target="#record">
      RECORD
    </a>
  </div>

<!-- MY GAMES SECTION-->

  <div class="tab-content hidden" id="games">

    <% @user.games.each do |game| %>
          <div class="list-items">
            <div class="list-stake">
              <%= game.stake %> £
            </div>
            <div class="list-game"  style="background-image: url( <%= image_path game.picture_file_name %> )">
              <%= game.name %>

            </div>
            <div class="list-status">
                Pending
            </div>
          </div>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == nil %>
            <div class="list-items">
              <div class="list-content">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-date">
                <%= challenge.starts_at %>
              </div>
              <div class="list-accept">
                <%= link_to user_mark_as_accepted_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="list-decline">
                <%= link_to user_decline_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                  <i class="fa fa-times fa-lg"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

  </div>


  <!-- SCHEDULE SECTION-->
  <div class="tab-content" id="schedule">

    <h4>PENDING</h4>

      <% @user.games.each do |game| %>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == nil %>
            <div class="list-items">
              <div class="list-stake">
                <%= game.stake %> £
              </div>
              <div class="list-content">
                <%= game.name %>
              </div>
              <div class="list-content">
                Creator:</br> YOU
              </div>
              <div class="list-date">
                <%= challenge.starts_at %>
              </div>
              <div class="list-content">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-accept">
                <%= link_to user_mark_as_accepted_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="list-decline">
                <%= link_to user_decline_path(user_id: current_user.id, id: challenge.id), method: :patch do %>
                  <i class="fa fa-times fa-lg"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @user.challenges.each do |challenge| %>
        <% if challenge.accepted == nil %>
          <div class="list-items">
            <div class="list-stake">
              <%= challenge.game.stake %> £
            </div>
            <div class="list-content">
              <%= challenge.game.name %>
            </div>
            <div class="list-content">
              Creator:</br> <%= challenge.game.user.username %>
            </div>
            <div class="list-date">
              <%= challenge.starts_at %>
            </div>
            <div class="list-content">
              Challenger:</br> YOU
            </div>
            <div class="list-status">
              Pending
            </div>
          </div>
        <% end %>
      <% end %>

    <h4 class="title-green">TO PLAY</h4>

      <% @user.games.each do |game| %>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == true %>
            <div class="list-items">
              <div class="list-stake-blue">
                <%= game.stake %> £
              </div>
              <div class="list-content">
                <%= game.name %>
              </div>
              <div class="list-content">
                Creator:</br> YOU
              </div>
              <div class="list-date-blue">
                <%= challenge.starts_at %>
              </div>
              <div class="list-content">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-score">
                Enter score
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @user.challenges.each do |challenge| %>
        <% if challenge.accepted == true %>
          <div class="list-items">
            <div class="list-stake-blue">
              <%= challenge.game.stake %> £
            </div>
            <div class="list-content">
              <%= challenge.game.name %>
            </div>
            <div class="list-content">
              Creator:</br> <%= challenge.game.user.username %>
            </div>
            <div class="list-date-blue">
              <%= challenge.starts_at %>
            </div>
            <div class="list-content">
              Challenger:</br> YOU
            </div>
            <div class="list-score">
              Enter score
            </div>
          </div>
        <% end %>
      <% end %>

    <h4 class="title-red">REJECTED</h4>

      <% @user.games.each do |game| %>
        <% game.challenges.each do |challenge| %>
          <% if challenge.accepted == false %>
            <div class="list-items">
              <div class="list-stake">
                <%= game.stake %> £
              </div>
              <div class="list-content">
                <%= game.name %>
              </div>
              <div class="list-content">
                Creator:</br> YOU
              </div>
              <div class="list-date">
                <%= challenge.starts_at %>
              </div>
              <div class="list-content">
                Challenger:</br> <%= challenge.user.username %>
              </div>
              <div class="list-status-red">
                Rejected
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @user.challenges.each do |challenge| %>
        <% if challenge.accepted == false %>
          <div class="list-items">
            <div class="list-stake">
              <%= challenge.game.stake %> £
            </div>
            <div class="list-content">
              <%= challenge.game.name %>
            </div>
            <div class="list-content">
              Creator:</br> <%= challenge.game.user.username %>
            </div>
            <div class="list-date">
              <%= challenge.starts_at %>
            </div>
            <div class="list-content">
              Challenger:</br> YOU
            </div>
            <div class="list-status-red">
              Rejected
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
    <!-- // -->
</div>


