 <%= render 'navbar' %>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<h1>Home</h1>

<h2>play your favourite games against players around the world
but this time, there’s money on it</h2>



<ul>
  <% @games.each do |game| %>
    <li> <%= link_to game.name, game_path(game) %></li>
  <% end %>
</ul>



<%= link_to 'NEW', new_game_path %>

<% if user_signed_in? %>
<%= link_to 'My Profil', user_path(current_user) %>
<% end %>
