<div class="index-background">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(67,67,67,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner-background.jpg' %>);">
    <div class="banner-content">
      <p class="alert"><%= alert %></p>
      <p class="notice"><%= notice %></p>
      <%= image_tag 'playME-logo.png', width: "230" %>
      <h2><span class="first-line">play your favourite games against players around the world</span></h2>
      <h2>but this time, there’s money on it</h2>
      <%= link_to 'start a game', new_game_path, class: "btn btn-green" %>
    </div>
  </div>
  <div class="flex-wrap">
    <% if @games.empty? %>
      <div class="no-game-msg text-center"><h2>no live games for that search - why not start your own?</h2></div>
    <% else %>
      <% @games.each do |game| %>
        <% if game.hidden == false %>
          <div data-toggle="modal" data-target="#<%= game.id %>" class= 'home-card hide-me', style= "background-image: linear-gradient(-225deg, rgba(67,67,67,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= image_path game.picture_file_name %>)">
            <% avatar_url = game.user.facebook_picture_url || "http://s3.amazonaws.com/cdn.roosterteeth.com/uploads/images/8af1db7e-f861-453e-aaca-fcb3fd76bcd1/md/2105229-1445707652129-MNOyFyi.png" %>
            <%= image_tag avatar_url, class: "card-user avatar" %>
            <p class="card-game"><span class="card-game-user"><%= game.user.username %></span> wants to play<br><span class="card-game-name"><%= game.name %></p>
            <span class="card-stake">£<%= game.stake %></span>
          </div>

          <!-- BOOKING MODAL-->
          <div class="modal fade" id="<%= game.id %>" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">£ <%= game.stake %></h4>
                </div>
                <div class="modal-body">
                  <div class="modal-banner" style="background-image: linear-gradient(-225deg, rgba(67,67,67,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path game.picture_file_name %>');">
                    <h1><%= game.name %></h1>
                  </div>

                  <div class="game-info text-center">
                    <div class="modal-user-avatar">
                      <% avatar_url = game.user.facebook_picture_url || "http://placehold.it/30x30" %>
                      <%= image_tag avatar_url, class: "avatar-xlarge" %>
                      <h4 class="modal-username"><%= game.user.username %></h4>
                      <% if game.user == current_user %>
                        <p>LOOKS LIKE IT'S YOUR GAME..</p>
                      <% else %>
                        <p>WHEN DO YOU WANT TO PLAY?</p>
                      <% end %>
                    </div>
                  </div>
                  <div style="overflow:hidden;">
                    <div class="modal-form-group">
                      <% if game.user == current_user %>
                      <% else %>
                        <%= simple_form_for [game, @challenge] do |f| %>
                          <input class="datetimepicker12" type="hidden" name="challenge[starts_at]">
                          <%= f.button :submit, class: 'btn-green create-challenge' %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<%= content_for(:after_js) do %>
 <script type="text/javascript">
  $(function () {
    $('.datetimepicker12').datetimepicker({
      inline: true,
      sideBySide: true,
      format: "D-M-YYYY, HH:mm",
      stepping: 15
    });
  });
 </script>
<% end %>
