
<h3><%= @user %></h3>


<%= @game.name %> | <%= @game.stake %>



<h4>Challenge me !</h4>

<% if current_user != @game.user %>
  <%= simple_form_for [@game, @challenge] do |f| %>
    <%= f.input :starts_at %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<%= link_to 'Home', root_path %>
