
<h3><%= @user %></h3>


<%= @game.name %> | <%= @game.stake %>



<h4>Challenge me !</h4>

<% if current_user != @game.user %>
  <%= simple_form_for [@game, @challenge] do |f| %>
    <%= f.input :starts_at %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<%= link_to 'Home', root_path %>
<!-- MODAL FOR CHALLENGE BOOKING -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#book-challenge">Challenge</button>

  <div class="modal fade" id="book-challenge" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">$10 STAKE</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Challenge</button>
        </div>
      </div>
    </div>
  </div>
  <!-- // -->
