<div class="navbar-wagon hidden-xs hidden-sm">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'playME-logo.png' %>
  </a>

  <form action="search" class="navbar-wagon-search text-center">
    <input type="text" name="name" class="navbar-wagon-search-input" placeholder="search for a game">
    <button type="submit" class="navbar-wagon-search-btn">
      <i class="fa fa-search"></i>
    </button>
  </form>

  <% if user_signed_in? %>
    <div class="link-title">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span>log</span><span>out</span>
      <% end %>
    </div>
  <% else %>
    <div class="link-title">
      <%= link_to new_user_registration_path do %>
        <span>sign</span><span>up</span>
      <% end %>
    </div>
    <div class="link-title">
      <%= link_to user_session_path do %>
        <span>log</span><span>in</span>
      <% end %>
    </div>

  <% end %>
</div>

<div class="navbar-wagon hidden-md hidden-lg">
  <a href="/" class="navbar-wagon-brand">
    <%= cl_image_tag("playME-logo_gil74m.png") %>
  </a>

  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
